/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Lobster", sans-serif;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;}
.row {
    background-color: black;
    width: auto;
    border-radius: 10px;
    margin: 0px;
    margin-top: 100px;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 80px;
    width: 80px;
    height: 110px;
}
header h1 {
    font-size: 60px;
    margin: 0px;
    margin-top: 20px;
}